<!DOCTYPE html>
<html lang="es-mx">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PBN</title>

    <!-- Custom fonts for this template-->
    <link href="/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/Content/css/sb-admin-2.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">

    @*Todos estos son para datatables*@
    @*<link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css" >*@
    <link href="/Content/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="/Content/vendor/datatables/responsive.bootstrap4.min.css" rel="stylesheet" />
</head>

<body id="page-top">

    @*Este jquery está actualizado a la última versión (3.5.1) *@
    <script src="/Content/vendor/jquery/jquery.min.js"></script>
    @*<script src="https://code.jquery.com/jquery-3.5.1.js"></script>*@
   
    <!-- Page Wrapper -->
    <div id="wrapper">

       @Html.Partial("_MenuLateral")


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                @if (Request.IsAuthenticated)
                {
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">


                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">


                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">

                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">


                            <span class="mr-2 d-none d-lg-inline text-gray-600 small"> @User.Identity.Name.ToString() </span>
                            <i class="fa-solid fa-user"></i>
                        </a>
                        @Html.Partial("_LoginPartial")

                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->
                }

                @*CUERPO*@


                <!-- Begin Page Content -->
                <div class="container-fluid">



                    @RenderBody();

                    @*Requerido para cambiar clave*@
                    @RenderSection("scripts", required: false)
                </div>
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; ProxiBusNic @System.DateTime.Now.Year</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    }
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">¿Desea cerrar sesión?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Selecciona cerrar sesión si está seguro que desea hacerlo.</div>
                <div class="modal-footer">
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                    @Html.AntiForgeryToken()

                    @*<ul class="nav navbar-nav navbar-right">
                        <li>
                            @Html.ActionLink("Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                        </li>
                        
                    </ul>*@
                    }

                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->

    <script src="/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/Content/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/Content/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/Content/vendor/chart.js/Chart.min.js"></script>


    <!-- Page level custom scripts -->
    <!--<script src="/Content/js/demo/chart-area-demo.js"></script>
    <script src="/Content/js/demo/chart-pie-demo.js"></script>-->

</body>

</html>