 <!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">


    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action( "Index", "Home")">
        <div class="sidebar-brand-icon rotate-n-15">
            FALTA LOGO
        </div>

        <div class="sidebar-brand-text mx-3">ProxiBusNic</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    @*@if (Request.IsAuthenticated)
    {*@ 
     <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="@Url.Action( "Index", "Home")">
            <i class="fa-solid fa-house"></i>
            <span>Inicio</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Acciones
    </div>

    <!-- Nav Item - Buses -->
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action( "Index", "Buses")">
            <i class="fa-solid fa-bus-simple"></i>
            <span>Buses</span>
        </a>
    </li>

    <!-- Nav Item - Paradas -->
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action( "Index", "Paradas")">
            <i class="fa-solid fa-street-view"></i>
            <span>Paradas</span>
        </a>
    </li>

    <!-- Nav Item - Buses con paradas -->
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action( "Index", "BusParadas")">
            <i class="fa-solid fa-road"></i>
            <span>Buses con paradas</span>
        </a>
    </li>

    <!-- Nav Item - Buses con paradas -->
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action( "Index", "Sugerencias")">
            <i class="fa-solid fa-circle-info"></i>
            <span>Sugerencias</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    @*  }*@
   


</ul>
<!-- End of Sidebar -->
