@model ProxiBusNicWeb.Models.BusParada

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>¿Está seguro de que desea eliminar este registro?</h3>
<div>
    <h4>BusParada</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Parada Descripcion")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parada.Descripcion)
        </dd>

        <dt>
            @Html.Label("Numero Ruta")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bus.NumeroRuta)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
