@model ProxiBusNicWeb.Models.BusParada

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>BusParada</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Parada Descripcion")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parada.Descripcion)
        </dd>

        <dt>
            @Html.Label("Numero Ruta")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bus.NumeroRuta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
