@model ProxiBusNicWeb.Models.Sugerencia

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Sugerencia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Descripcion De La Sugerencia")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionSugerencia)
        </dd>

        <dt>
            @Html.Label("Usuario Creacion")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioCreacion)
        </dd>

        <dt>
            @Html.Label("Fecha Creacion")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.Label("Parada Descripcion")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parada.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
