@model IEnumerable<ProxiBusNicWeb.Models.Sugerencia>

@{
    ViewBag.Title = "Index";
}

<h2>Sugerencias</h2>

<p>
    @Html.ActionLink("Crear", "Create")
</p>
<table class="table" id="Tabla">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionSugerencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parada.Descripcion)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DescripcionSugerencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioCreacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaCreacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Parada.Descripcion)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Detallar", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </tbody>
   
</table>
<script src="/Content/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/Content/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="~/Content/vendor/datatables/dataTables.responsive.min.js"></script>
<script src="~/Content/vendor/datatables/responsive.bootstrap4.min.js"></script>
<script src="~/Content/vendor/datatables/DataTables.js"></script>