@model IEnumerable<ProxiBusNicWeb.Models.Sugerencia>

@{
    ViewBag.Title = "Index";
}

<h2>Sugerencias</h2>

<p>
    @if (!User.IsInRole("Intrama"))
    {@Html.ActionLink("Crear", "Create")}
</p>
<table class="table" id="Tabla">
    <thead>
        <tr>
            <th>
                @Html.Label("Descripción")
            </th>
            <th>
                @Html.Label("Creado por")
            </th>
            <th>
                @Html.Label("Fecha de Creación")
            </th>
            <th>

                @Html.Label("Parada")
            </th>

            @if (!User.IsInRole("Intrama"))
            {
                <th>
                    Acciones
                    </th >
                }

        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionSugerencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parada.Descripcion)
            </td>
            @if (!User.IsInRole("Intrama"))
            {
                <td>

                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) <br>
                    @Html.ActionLink("Detallar", "Details", new { id = item.Id }) <br>
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
             

                </td>
            }
            </tr>
        }

    </tbody>
   
</table>
<script src="/Content/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/Content/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="~/Content/vendor/datatables/dataTables.responsive.min.js"></script>
<script src="~/Content/vendor/datatables/responsive.bootstrap4.min.js"></script>
<script src="~/Content/vendor/datatables/DataTables.js"></script>